body {
    font-family: Arial, sans-serif;
    background-color: #333;  /* New background color */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.container {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    width: 60%;
    max-width: 600px;
    text-align: center;
    position: relative;
    margin-top: 5%;
}

.logo {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 400px;
    height: 400px;
}

h1 {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"], input[type="datetime-local"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    width: 80%;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
    width: 100%;
}

li {
    padding: 10px;
    margin-bottom: 5px;
    background-color: #e0e0e0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li.done {
    text-decoration: line-through;
    color: gray;
}

.complete-btn {
    background-color: #4CAF50;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
}

.complete-btn:hover {
    background-color: #45a049;
}
